.t-light {
  // Navbar
  --navbar-bg: #fff;
  --logo-text: #000;
  --menu-item: #696d76;
  --menu-item-active: #212832;
  --menu-item-border: #7264d6;
  --menu-btn1: #fff;
  --menu-btn2: #212832;
  --mobile-menu-bg: #7264d6;
  --mobile-menu-item-border: #fff;
}
